{% extends 'scm/admin_index.html' %}

{% load static %}

{% block content %}
<form action="/update_vaccine/{{ selectedvaccine.name }}" method="POST">
    {% csrf_token%}
    <div class="add_vaccine_container">
        <p class="title">
            Edit Vaccine
        </p>
        <div class="input-container">
            <h5>Vaccine Name</h5>
            <input type="text" class="normal-input" autocomplete="off" name="name" value="{{selectedvaccine.name}}">
        </div>
        
        <div class="input-container">
            <h5>Disease</h5>
            <input type="text" class="normal-input" autocomplete="off" name="disease" value="{{selectedvaccine.disease}}">
        </div>
        
        <div class="input-container">
            <h5>Dosage</h5>
            <input type="text" class="normal-input" autocomplete="off" name="dosage" value="{{selectedvaccine.dosage}}">  
        </div>

        <div style="width:250px">
            <input type="submit"  style="height:40px" class="btn" value="Update">
        </div>
    </div>
</form>
{% endblock content%}